<div class="col-lg-12" style="color: #922B21">


	<div class="col-lg-12" ng-controller="myCtrl">
		<h2 >Welcome {{username}}!!</h2>		<p>This is your dashboard. Control everything on the go.</p>

	</div>
	<div class="col-lg-12">
		<div class="col-lg-5"
			style="background: #E8E3E2  ; padding: 20px; height: 180px">


			<h4>Tips to get Started</h4>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
				penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				Donec quam felis, ultricies nec</p>

		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-6"
			style="background: #E8E3E2  ; padding: 20px; height: 180px">
			<h4>Messages(6)</h4>
			<div class="btn-group btn-group-justified"
				style="width: 89px; margin-left: 288px; margin-top: -39px;">
				<a class="btn btn-primary"
					style="background: #922B21; border-color: transparent;"> view
					all</a>
			</div>
			<br>

			<div class="col-lg-12 hover">
				<div class="col-lg-3">
					<img style="width: 40px; height: 40px" src="images/icon.jpg">
				</div>
				<div class="col-lg-9">
					<p>The inventory report has been sent. Please check the mail</p>
				</div>
			</div>
			<br>

			<div class="col-lg-12 hover">
				<div class="col-lg-3">
					<img style="width: 40px; height: 40px" src="images/icon.jpg">
				</div>
				<div class="col-lg-9">
					<p>I am unable to view the stock as i dont have permissions.can
						you please double check</p>
				</div>



			</div>
		</div>
		<div class="col-lg-12"
			style="margin-top: 25px; background: #E8E3E2  ; padding: 20px;">
			<h4>Mile stones</h4>

			<p class="pbuttons" style="margin-left: 192px; margin-top: -27px;"
				href="#/delete">Delete</p>
			<p style="margin-left: 267px; margin-top: -27px;" class="pbuttons"
				href="#/edit">Edit</p>
			<p style="margin-left: 324px; margin-top: -27px;" class="pbuttons"
				href="#/complete">Mark Completed</p>


			<div class="btn-group btn-group-justified"
				style="width: 89px; margin-left: 730px; margin-top: -40px;">
				<a class="btn btn-primary"
					style="background: #922B21; border-color: transparent;"> view
					all</a>
			</div>
			<br> <br> <input type="checkbox" ng-model="chkselct1">
			check inventory to the sales man and assign work and make new notes
			to the customer.<br> <br> <input type="checkbox"
				ng-model="chkselct2"> send christmas greeting to the staff. <br>
			<br> <input type="checkbox" ng-model="chkselct3"> orem
			ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
			ligula eget dolor.

		</div>
	</div>
</div>

<style>
.hover:hover {
	background: #D4BCB7  ;
	padding:2px;
}

p {
	font-size: 12px;
}

.pbuttons {
	cursor: pointer;
	color: #922B21;
}
</style>